.header__logo {
    max-width: 142px;
}


@media screen and (max-width: 920px) {
    .header__logo {
        padding: 28px 0 31.6px 36px;
    }
}

@media screen and (max-width: 768px) {
    .header__logo {
        padding: 28px 0 31.6px 27px;
    }
}