/* .elements__like {
    background-image: url(../../../images/like.svg);
    background-size: contain;
    width: 22px;
    height: 19px;
    position: absolute;
    top: 312px;
    right: 30px;
} */

.elements__like {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 312px;
    right: 30px;
}