.elements__like {
    background-image: url(../../../images/like.svg);
    background-size: contain;
    background-color: #FFF;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    position: absolute;
    top: 312px;
    right: 30px;
    margin: 0;
    padding: 0;
    border: 0px;
}