.profile__info {
    margin: 0;
    padding: 0;
    max-width: 336px;
    display: flex;
    position: absolute;
    left: 150px;
    top: 22px;
}

@media screen and (max-width: 768px) {
    .profile__info {
        position: static;
        margin: 22.25px auto 36px;
    }
}
